/* Global */
body {
  font-family: "SF Pro Display", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  margin: 0;

  overflow: hidden;
}

/* Hide All Sections */
.hidden {
  display: none !important;
}

/* Centered Container */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 20%; /* Fine-tune position */
}

/* Title Styling */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}

h1 {
  width: 572px;
  color: #0eb84f;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

/* Centers Media Vertically */
.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -3.5%; /* Moves media up */
}

/* Image & Video Position */
.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1149px;
  height: 540px;
  border-radius: 24px;
  background-color: #e5e5e5;
  overflow: hidden;
}

/* Image for Verify Page */
#verify-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Video Container for Progress Page */
#p5-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure Video Doesn't Stretch */
video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Button & Progress Bar Wrapper */
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 12%;
}

/* small text */
h2 {
  font-size: 16px;
  font-weight: 550;
  color: #3e5647;
  margin-bottom: 16px;
}

/* Button Styling */
button {
  display: flex;
  width: 256px;
  height: 72px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  background: #0eb84f;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #0ca843;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
}

/* Progress Bar Styling */
#progress-bar {
  display: flex;
  width: 640px;
  height: 72px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  background: #fafafa;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);
  appearance: none;
}

/* Progress Bar Filled Area */
#progress-bar::-webkit-progress-bar {
  background: #fafafa;
  border-radius: 100px;
}

#progress-bar::-webkit-progress-value {
  background: #0eb84f;
  border-radius: 100px;
}
